<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-2">
			
		</div>
		<div class = "col-md-8">
			<h2>Active discussions:</h2>
			<hr>
			<div class = "media">
				<div class = "media-left">
					<img src = "app/images/a1.jpg" class = "media-object">
				</div>
				<div class = "media-body">
					<h4 class = "media-heading">Bo Botond</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus luctus libero, a pellentesque mi. Pellentesque in laoreet arcu, eu dapibus turpis. Quisque felis ante, sollicitudin non neque eget, venenatis hendrerit urna. Vestibulum aliquet auctor vulputate. Pellentesque luctus metus sit amet eleifend maximus. Morbi eget sapien vitae neque sagittis pharetra.</p>				
				</div>
			</div>
			<hr>
			</br>
			<div class = "media">
				<div class = "media-body">
					<h4 class = "media-heading">Ala Aladar</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus luctus libero, a pellentesque mi. Pellentesque in laoreet arcu, eu dapibus turpis. Quisque felis ante, sollicitudin non neque eget, venenatis hendrerit urna. Vestibulum aliquet auctor vulputate. Pellentesque luctus metus sit amet eleifend maximus. Morbi eget sapien vitae neque sagittis pharetra.</p>				
				</div>
				<div class = "media-right">
					<img src = "app/images/a2.jpg" class = "media-object">
				</div>
			</div>
			<hr>
			</br>
			<div class = "media">
				<div class = "media-left">
					<img src = "app/images/a3.jpg" class = "media-object">
				</div>
				<div class = "media-body">
					<h4 class = "media-heading">Cet Cecil</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus luctus libero, a pellentesque mi. Pellentesque in laoreet arcu, eu dapibus turpis. Quisque felis ante, sollicitudin non neque eget, venenatis hendrerit urna. Vestibulum aliquet auctor vulputate. Pellentesque luctus metus sit amet eleifend maximus. Morbi eget sapien vitae neque sagittis pharetra.</p>				
				</div>
			</div>
		</div>
		<div class = "col-md-2">
			
		</div>
	</div>
</div>
</hr>














